<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <application
      android:allowBackup="false"
      android:dataExtractionRules="@null"
      android:fullBackupContent="false"
      android:icon="@mipmap/ic_launcher"
      android:name="com.vanniktech.blurhash.sample.android.BlurHashMainApplication"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
    <activity
        android:exported="true"
        android:name="com.vanniktech.blurhash.sample.android.BlurHashMainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
